@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
:root {
  font-size: 16px;
  font-family: 'Muli';
  --text-primary: #b6b6b6;
  --text-secondary: #ececec;
  --bg-primary: #23232e;
  --bg-secondary: #141418;
  --transition-speed: 600ms;
  --transition-speed-fast: 200ms;
  --color-success-green: #4bb543;
}

/* Reset */

html {
  scroll-behavior: smooth;
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

*, *::after, *::before {
  box-sizing: inherit;
}

body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.5;
  color: #333;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

::selection {
  background-color: var(--color-success-green);
  color: var(--text-secondary);
}

/* Scrollbar */

.scroll::-webkit-scrollbar {
  width: 0.25rem;
  height: 0.25rem;
  color: var(--text-primary);
}

.scroll::-webkit-scrollbar-track {
  background: var(--bg-secondary);
}

.scroll::-webkit-scrollbar-thumb {
  background: var(--color-success-green);
}

/* Main */

main {
  padding: 1rem;
  font-size: 1.25rem;
}

main .content {
  max-width: 800px;
  margin: 0 auto;
}

main h1 {
  margin-bottom: 3rem;
}

main p {
  margin-bottom: 2rem;
}

/* Navbar */

.navbar {
  position: fixed;
  background: var(--bg-primary);
  transition: width var(--transition-speed-fast) ease;
}

.navbar-nav {
  list-style: none;
  display: flex;
}

.navbar-item {
  width: 100%;
}

.navbar-item:hover {
  background-color: var(--bg-secondary);
}

.navbar-link {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 5rem;
  color: var(--text-secondary);
  filter: grayscale(100%) opacity(0.7);
  transition: var(--transition-speed-fast);
  cursor: pointer;
}

.navbar-link:hover {
  filter: grayscale(0%) opacity(1);
  background: var(--bg-secondary);
}

.navbar-link:hover svg path {
  color: var(--color-success-green);
}

.navbar-link svg {
  min-width: 3rem;
  margin: 0 1rem;
}

.navbar-text {
  display: none;
}

.logo {
  width: 100%;
  margin-bottom: 1rem;
  display: none;
}

.logo .navbar-link {
  justify-content: space-between;
}

.logo .navbar-text {
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.3ch;
}

.logo svg {
  transform: rotate(0deg);
  transition: transform var(--transition-speed);
}

.navbar:hover .logo svg {
  transform: rotate(-180deg);
}

@media only screen and (max-width: 600px) {
  .navbar {
    bottom: 0;
    width: 100vw;
    overflow-x: auto;
  }
  .navbar-link {
    justify-content: center;
  }
}

@media only screen and (min-width: 600px) {
  main {
    margin-left: 5rem;
  }
  .logo {
    display: block;
  }
  .navbar {
    top: 0;
    left: 0;
    width: 5rem;
    height: 100vh;
    overflow-y: auto;
  }
  .navbar:hover {
    width: 15rem;
  }
  .navbar-nav {
    height: 100%;
    flex-direction: column;
    flex-grow: 1;
  }
  .navbar-item:last-child {
    margin-top: auto;
  }
  .navbar:hover .navbar-text {
    display: block;
    margin-left: 1rem;
  }
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation-play-state: paused !important;
    transition: none !important;
    scroll-behavior: auto !important;
  }
}